{{input value=query placeholder=placeholder spellcheck="false"}}
<p class="search-icon"> &#128269; </p>

<ul class='search-results'>
  {{#each project in results}}
    <li> {{#link-to 'project' project.id}} {{project.name}} {{/link-to}} </li>
  {{else}}
    {{#if isSearching}}
      <li> {{x-spinner class='search-spinner'}} </li>
    {{/if}}
  {{/each}}
</ul>
