$sidebar-width: 192px;
$modal-width: 600px;
$controls-height: 44px;
$calendar-height: 32px;
$sans: "myriad-pro",sans-serif;
$icons: "Pictos Custom";
$em: 16px;


@-webkit-keyframes rotating {
  from { -webkit-transform: rotate(0deg);   }
  to   { -webkit-transform: rotate(360deg); }
}
