@import google-fonts
@import vendor/bourbon/app/assets/stylesheets/bourbon
@import bitters/bitters
@import vendor/neat/app/assets/stylesheets/neat
@import buttons
@import colors
@import helpers
@import loading
@import nav

+font-face(entypo, 'fonts/entypo')

*
  box-sizing: border-box

@mixin bold-font
  font-family: "Montserrat", sans-serif
  font-weight: 700

@mixin regular-font
  font-family: "Montserrat", sans-serif
  font-weight: 400

@mixin border
  border-radius: 2px


html,body
  font-family: "Montserrat", sans-serif
  margin: 0
  padding: 0
  min-height: 100%
  letter-spacing: .5px

button
  +border
  margin: 0

header
  +clearfix

#content
  +clearfix
  width: 100%

.container
  margin: auto
  max-width: 1024px
  width: 96%
  @include clearfix

h1
  @include regular-font
  font-weight: 400
  font-size: 30px
  color: #2C2E2E
  margin-bottom: 20px
  float: left

