.search-controls {
  @include outer-container;

  .search {
    @include span-columns(7);

    .search-field {
      @include span-columns(4 of 7);
    }
  }

  .filter {
    @include span-columns(2.5);
    @include shift(2.5);

    select {
      float: right;
      overflow: hidden;
      height: 33px;
      width: 192px;
      background: white;
      color: $brighter-blue;
      border-color: $brighter-blue;
    }

    select:hover{
      background: white;
      color: $dark-blue;
      border-color: $dark-blue;
    }

    .will-paginate {
      float: right;
    }
  }
}
