<a href="#" class="logo"></a>
<div class='main-action'>
 {{#link-to 'projects-new' class='button'}} &#43; Add New Project {{/link-to}}
</div>
<div class="user-actions">
  {{#if bottom_links}}
    <ul>
      {{#each link in view.bottom_links}}
        {{nav-bar-button link=link displayTitle=false}}
      {{/each}}
    </ul>
  {{/if}}
  <div class="global-logout"><a href="/#/sign_out"><i>&#59201;</i></a></div>
</div>
<ul>
  {{#each link in view.top_links}}
    {{nav-bar-button link=link displayTitle=true}}
  {{/each}}
</ul>
